<a href="https://colab.research.google.com/github/cdbolivarz/Accidentality_Predictions_Medellin/blob/master/Limpieza__y_formato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpieza y formato de datos
En este documento, se realiza el preprocesamiento de los datos obtenidos de los documentos de incidentes georeferenciados.

Librerias

In [1]:
import pandas as pd
import glob
import numpy as np
import re

### Lectura de datos

In [2]:
all_files = glob.glob("dataset/I*.csv")

li = []

for filename in all_files:

    frame = pd.read_csv(filename, index_col=None, header=0, low_memory=False)
    li.append(frame)

df = pd.concat(li, axis=0, ignore_index=True)
df = df.sort_values(by=["FECHA"])
df = df.reset_index()
df = df.drop(['index'],axis=1)
df.head()

           X         Y  OBJECTID  ...  Y_MAGNAMED   LONGITUD   LATITUD
0 -75.703816  6.221806    211342  ...  1180000.00 -75.703816  6.221806
1 -75.579329  6.209160    211341  ...  1178599.23 -75.579329  6.209160
2 -75.565164  6.242722    211340  ...  1182311.63 -75.565164  6.242722
3 -75.555400  6.252163    211339  ...  1183355.92 -75.555400  6.252163
4 -75.564683  6.249282    211338  ...  1183037.23 -75.564683  6.249282

[5 rows x 24 columns]

Que columnas tienen valores nulos

In [3]:
df.isna().any()

X                False
Y                False
OBJECTID         False
RADICADO          True
FECHA            False
HORA             False
DIA              False
PERIODO          False
CLASE             True
DIRECCION        False
DIRECCION_ENC     True
CBML              True
TIPO_GEOCOD      False
GRAVEDAD         False
BARRIO            True
COMUNA            True
DISENO            True
DIA_NOMBRE       False
MES              False
MES_NOMBRE        True
X_MAGNAMED       False
Y_MAGNAMED       False
LONGITUD         False
LATITUD          False
dtype: bool

Formato datos

In [4]:
#Eliminar filas con NA y columnas que no consideramos importantes para el modelo.
#Asignar mismos nombres a los tipos de accidentes (CLASE)
def format(df):
  df = df.drop(['X', 'Y', 'OBJECTID', 'RADICADO', 'DIRECCION', 'DIRECCION_ENC',
              'CBML', 'TIPO_GEOCOD', 'DISENO', 'MES_NOMBRE', 'X_MAGNAMED',
              'Y_MAGNAMED'], axis=1)
  df = df.dropna(subset=['CLASE', 'BARRIO', 'COMUNA'])

  df["CLASE"].replace({"Caída de Ocupante": "Caida Ocupante",
                       "Caida de Ocupante": "Caida Ocupante",
                       "Caída Ocupante": "Caida Ocupante",
                       "Choque ": "Choque"}, inplace=True)

  return df

df = format(df)
df.columns = df.columns.str.lower()
df.head()

                    fecha      hora  dia  ...  mes   longitud   latitud
1  2014/01/01 00:00:00+00  04:20:00    1  ...    1 -75.579329  6.209160
2  2014/01/01 00:00:00+00  09:10:00    1  ...    1 -75.565164  6.242722
3  2014/01/01 00:00:00+00  08:50:00    1  ...    1 -75.555400  6.252163
4  2014/01/01 00:00:00+00  08:00:00    1  ...    1 -75.564683  6.249282
5  2014/01/01 00:00:00+00  10:00:00    1  ...    1 -75.557573  6.235498

[5 rows x 12 columns]

Filas con errores ortograficos en algunas columnas

In [5]:
df['comuna'].drop_duplicates()

1              Guayabal
2         La Candelaria
3         Villa Hermosa
5          Buenos Aires
7               Popular
              ...
184133        Altavista
184435         Girardot
184440     Barrio Colón
184471       Campo Amor
184550        Andalucía
Name: comuna, Length: 84, dtype: object

In [6]:
df['barrio'].drop_duplicates()

1               Campo Amor
2             Barrio Colón
3               San Miguel
4            La Candelaria
5             La Milagrosa
                ...
205841            El Uvito
207239                7001
207307                9004
213772    Volcana Guayabal
220429             El Plan
Name: barrio, Length: 339, dtype: object

In [7]:
df.head()

                    fecha      hora  dia  ...  mes   longitud   latitud
1  2014/01/01 00:00:00+00  04:20:00    1  ...    1 -75.579329  6.209160
2  2014/01/01 00:00:00+00  09:10:00    1  ...    1 -75.565164  6.242722
3  2014/01/01 00:00:00+00  08:50:00    1  ...    1 -75.555400  6.252163
4  2014/01/01 00:00:00+00  08:00:00    1  ...    1 -75.564683  6.249282
5  2014/01/01 00:00:00+00  10:00:00    1  ...    1 -75.557573  6.235498

[5 rows x 12 columns]

In [9]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
len(df['barrio'].drop_duplicates())

339

Todos las columnas de *clase, gravedad, barrio, comuna, dia_nombre* se pasaron a miniuscula para evitar posibles inconveniesntes futuros

In [10]:
dfcopy = df.copy()
dfcopy['clase'] = dfcopy['clase'].str.lower()
dfcopy['gravedad'] = dfcopy['gravedad'].str.lower()
dfcopy['barrio'] = dfcopy['barrio'].str.lower()
dfcopy['comuna'] = dfcopy['comuna'].str.lower()
dfcopy['dia_nombre'] = dfcopy['dia_nombre'].str.lower()

## Barrios

Se eliminan las filas donde el barrio sale como un número

In [11]:
for barrio in dfcopy['barrio']:
    try:
        int(barrio)
        dfcopy = dfcopy.replace({'barrio': barrio}, np.nan)
    except:
        pass
dfcopy= dfcopy.dropna(subset=['barrio'])

Para corregir los barrios donde salía **no. #**  para que salga **no.#**

In [12]:
def error_no(row):
    barrio = row['barrio'].strip()
    b = bool(re.search(r'(no)\. \d', barrio))
    if (b):
        b = barrio.split()
        barrio = ' '.join(b[0:-2])
        barrio += ' '+b[-2]+b[-1]
    row['barrio'] = barrio
    return row
dfcopy = dfcopy.apply(error_no,axis=1)

In [13]:
# Barrios con problemas
# en Medellin se supone hay 275 barrio (segun wikipedia)

# hay varios suburbanos que me parecen raros
# el barrio 'u.p.b'
# creo que todos los barrios que se llaman universidad algo estan mal (el de falcultad de minas existe)

In [14]:
dfcopy = dfcopy.replace({'barrio':{'barrio de jesús':'barrios de jesús',
                                   'berlin':'berlín',
                                   'inst':np.nan,
                                   'loma de los bernal':'la loma de los bernal',
                                   'villa liliam':'villa lilliam'}})

In [15]:
barrios = dfcopy['barrio'].sort_values().unique()
barrios

array(['aguas frias', 'aldea pablo vi', 'alejandro echavarría',
       'alejandría', 'alfonso lópez', 'altamira', 'altavista',
       'altavista sector central', 'altos del poblado', 'andalucía',
       'antonio nariño', 'aranjuez', 'area de expansion altavista',
       'area de expansion belen rincon', 'asomadera no.1',
       'asomadera no.2', 'asomadera no.3', 'astorga', 'auc1', 'auc2',
       'aures no.1', 'aures no.2', 'b. cerro  el volador',
       'b. cerro el volador', 'barrio caicedo', 'barrio colombia',
       'barrio colón', 'barrio cristóbal', 'barrios de jesús',
       'batallón girardot', 'belalcázar', 'belencito', 'bello horizonte',
       'belén', 'berlín', 'bermejal-los alamos', 'betania', 'blanquizal',
       'bolivariana', 'bomboná no.1', 'bomboná no.2',
       'bosques de san pablo', 'boston', 'boyacá', 'brasilia',
       'buenos aires', 'buga patio bonito',
       'cabecera san antonio de prado', 'cabecera urbana san cristobal',
       'calasanz', 'calasanz parte alta', 'calle nueva', 'campo alegre',
       'campo amor', 'campo valdés no.1', 'campo valdés no.2', 'caribe',
       'carlos e. restrepo', 'carpinelo', 'castilla', 'castropol',
       'cataluña', 'cementerio universal', 'centro administrativo',
       'cerro nutibara', 'corazón de jesús',
       'corregimiento de san antonio de prado',
       'corregimiento de santa elena', 'cristo rey', 'cuarta brigada',
       'cucaracho', 'córdoba', 'diego echavarría', 'doce de octubre no.1',
       'doce de octubre no.2', 'eduardo santos', 'el castillo',
       'el chagualo', 'el compromiso', 'el corazon el morro',
       'el corazón', 'el danubio', 'el diamante', 'el diamante no.2',
       'el estadio', 'el nogal-los almendros', 'el pesebre', 'el picacho',
       'el pinal', 'el plan', 'el poblado', 'el pomar', 'el progreso',
       'el progreso no.2', 'el raizal', 'el rincón', 'el rodeo',
       'el salado', 'el salvador', 'el socorro', 'el tesoro',
       'el triunfo', 'el uvito', 'el velódromo', 'el vergel', 'enciso',
       'estación villa', 'facultad de minas u. nacional',
       'facultad veterinaria y zootecnia u.de.a.', 'ferrini', 'florencia',
       'florida nueva', 'francisco antonio zea', 'fuente clara', 'fátima',
       'gerona', 'girardot', 'granada', 'granizal', 'guayabal',
       'guayaquil', 'hospital san vicente de paúl', 'héctor abad gómez',
       'jardín botánico', 'jesús nazareno', 'juan pablo ii',
       'juan xxiii la quiebra', 'kennedy', 'la aguacatala',
       'la alpujarra', 'la américa', 'la avanzada', 'la candelaria',
       'la castellana', 'la colina', 'la cruz', 'la esperanza',
       'la esperanza no.2', 'la floresta', 'la florida', 'la francia',
       'la frontera', 'la gloria', 'la hondonada', 'la isla', 'la ladera',
       'la libertad', 'la loma de los bernal', 'la loma oriental',
       'la mansión', 'la milagrosa', 'la mota', 'la oculta', 'la palma',
       'la pilarica', 'la piñuela', 'la pradera', 'la rosa', 'la salle',
       'la sierra', 'la verde', 'lalinde', 'las acacias', 'las brisas',
       'las esmeraldas', 'las estancias', 'las granjas',
       'las independencias', 'las lomas no.1', 'las lomas no.2',
       'las mercedes', 'las palmas', 'las playas', 'las violetas',
       'laureles', 'laureles estadio', 'llanaditas', 'lorena', 'loreto',
       'los alcázares', 'los alpes', 'los balsos no.1', 'los balsos no.2',
       'los cerros el vergel', 'los colores', 'los conquistadores',
       'los mangos', 'los naranjos', 'los pinos', 'los ángeles',
       'lópez de mesa', 'manila', 'manrique', 'manrique central no.1',
       'manrique central no.2', 'manrique oriental',
       'maría cano carambolas', 'media luna', 'metropolitano',
       'mirador del doce', 'miraflores', 'miranda', 'miravalle',
       'monteclaro', 'moravia', 'moscú no.1', 'moscú no.2', 'naranjal',
       'nueva villa de aburrá', 'nueva villa de la iguaná',
       'nuevos conquistadores', 'ocho de marzo', 'olaya herrera',
       'oleoducto', 'oriente', 'pablo vi', 'pajarito', 'palenque',
       'palermo', 'parque juan pablo ii', 'parque norte', 'patio bonito',
       'pedregal', 'pedregal alto', 'pedregal bajo', 'perpetuo socorro',
       'picachito', 'picacho', 'piedra gorda', 'piedras blancas',
       'piedras blancas - matasano', 'piedras blancas represa',
       'playón de los comuneros', 'plaza de ferias', 'popular',
       'potrerito', 'prado', 'robledo', 'rosales', 'san antonio',
       'san benito', 'san bernardo', 'san diego', 'san germán',
       'san isidro', 'san javier', 'san javier no.1', 'san javier no.2',
       'san joaquín', 'san josé de la montaña', 'san josé la cima no.1',
       'san josé la cima no.2', 'san lucas', 'san martín de porres',
       'san miguel', 'san pablo', 'san pedro', 'santa cruz', 'santa fé',
       'santa inés', 'santa lucía', 'santa margarita',
       'santa maría de los ángeles', 'santa mónica', 'santa rosa de lima',
       'santa teresita', 'santander', 'santo domingo savio no.1',
       'santo domingo savio no.2', 'sevilla', 'simón bolívar',
       'sin nombre', 'suburbano altavista', 'suburbano chacaltaya',
       'suburbano el llano', 'suburbano el plan', 'suburbano el tesoro',
       'suburbano la loma', 'suburbano mirador del poblado',
       'suburbano palma patio', 'suburbano palmitas',
       'suburbano pedregal alto', 'suburbano potrerito',
       'suburbano travesias', 'sucre', 'suramericana', 'tejelo', 'tenche',
       'terminal de transporte', 'toscana', 'travesías',
       'trece de noviembre', 'tricentenario', 'trinidad',
       'u.d. atanasio girardot', 'u.p.b.', 'universidad de antioquia',
       'universidad nacional', 'veinte de julio', 'versalles no.1',
       'versalles no.2', 'villa carlota', 'villa del socorro',
       'villa flora', 'villa guadalupe', 'villa hermosa', 'villa lilliam',
       'villa niza', 'villa nueva', 'villa turbay', 'villatina',
       'volcana guayabal', 'yolombo',
       'área de expansión altos de calasanz',
       'área de expansión pajarito',
       'área de expansión san antonio de prado', nan], dtype=object)

In [16]:
len(barrios)

317

## Comunas

In [17]:
# 1	Comuna 1 - Popular
# 2	Comuna 2 - Santa Cruz
# 3	Comuna 3 - Manrique
# 4	Comuna 4 - Aranjuez
# 5	Comuna 5 - Castilla
# 6	Comuna 6 - Doce de Octubre
# 7	Comuna 7 - Robledo
# 8	Comuna 8 - Villa Hermosa
# 9	Comuna 9 - Buenos Aires
# 10	Comuna 10 - La Candelaria
# 11	Comuna 11 - Laureles-Estadio
# 12	Comuna 12 - La América
# 13	Comuna 13 - San Javier
# 14	Comuna 14 - El Poblado
# 15	Comuna 15 - Guayabal
# 16	Comuna 16 - Belén

In [18]:
dfcopy = dfcopy.replace({'comuna':{ 'alejandro echavarría': 'buenos aires',
                                    'alfonso lópez':'castilla',
                                    'altavista':'belén',
                                    'andalucía':'santa cruz',
                                    'antonio nariño':'san javier',
                                    'au':np.nan,
                                    'barrio colón':'la candelaria',
                                    'bolivariana':'laureles-estadio',
                                    'boston':'la candelaria',
                                    'cabecera san antonio de prado':'corregimiento san antorio de prado',
                                    'calasanz':'la américa',
                                    'calle nueva':'la candelaria',
                                    'campo amor':'guayabal',
                                    'campo valdés no. 1':'aranjuez',
                                    'campo valdés no. 2':'manrique',
                                    'caribe':'castilla',
                                    'cerro nutibara':'belén',
                                    'corazón de jesús':'la candelaria',
                                    'cristo rey':'guayabal',
                                    'el chagualo':'la candelaria',
                                    'el nogal-los almendros':'belén',
                                    'el raizal':'manrique',
                                    'estación villa':'la candelaria',
                                    'florida nueva':'laureles-estadio',
                                    'fátima':'belén',
                                    'girardot':'castilla',
                                    'guayaquil':'la candelaria',
                                    'héctor abad gómez':'castilla'}})

In [19]:
dfcopy = dfcopy.replace({'comuna':{'in':np.nan, 
                                'jesús nazareno':'la candelaria',
                                'la alpujarra':np.nan,
                                'la colina':'guayabal',
                                'la floresta':'la américa',
                                'la rosa':'santa cruz',
                                'las esmeraldas':'aranjuez',
                                'las granjas':'manrique',
                                'las palmas':'la candelaria',
                                'las playas':'belén',
                                'laureles':'laureles-estadio',
                                'laureles estadio':'laureles-estadio', 
                                'los conquistadores':'laureles-estadio',
                                'los mangos':'villa hermosa',
                                'manila':'el poblado',
                                'miranda':'aranjuez',
                                'moravia':'aranjuez',
                                'naranjal':'laureles-estadio',
                                'oleoducto':np.nan,
                                'parque juan pablo ii':'buenos aires',
                                'patio bonito':'el poblado',
                                'perpetuo socorro':'la candelaria',
                                'rosales':'belén',
                                'san pedro':'aranjuez',
                                'santa fé':'guayabal',
                                'santa inés':'manrique',
                                'santa maría de los ángeles':'el poblado',
                                'simón bolívar':'la américa',
                                'sn':np.nan,
                                'suramericana':'laureles-estadio',
                                'toscana':'castilla',
                                'universidad de antioquia':np.nan,
                                'veinte de julio':'san javier',
                                'villa carlota':'el poblado',
                                'villa guadalupe':'popular'}})

In [20]:
comunas = dfcopy['comuna'].sort_values().unique()
comunas

array(['aranjuez', 'belén', 'buenos aires', 'castilla',
       'corregimiento de altavista',
       'corregimiento de san antonio de prado',
       'corregimiento de san cristóbal',
       'corregimiento de san sebastián de palmitas',
       'corregimiento de santa elena',
       'corregimiento san antorio de prado', 'doce de octubre',
       'el poblado', 'guayabal', 'la américa', 'la candelaria',
       'laureles-estadio', 'manrique', 'popular', 'robledo', 'san javier',
       'santa cruz', 'villa hermosa', nan], dtype=object)

## Fechas

Primero se cambia el timpo de la comuna *fecha* por el tipo **datetime**

In [21]:
fechas = df['fecha']
dfcopy['fecha'] = pd.to_datetime(fechas)

Luego se crea la columna *dia_anno* para saber a que dia del año pertenece cada fila

In [22]:
def dia_anno(row):
    row['dia_anno'] = row['fecha'].dayofyear
    return row
dfcopy = dfcopy.apply(dia_anno, axis=1)